.App {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
.about{
  max-width: 100% ;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  padding: 1%;
}
.about>img{
  width: 30%;
  height: 200px;
  padding-right: 3%;
}
.class{
    max-width: 100%;
    height: 350px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    background-color: lightgray;
}
.box{
    width: 30%;
    height: 300px;
    margin: 2%;
    background-color: white;
    margin-right: 1%;
}
.box>h3{
    color: green;
}
